{% extends "base.html" %}
{% load static %} 
{% block title %}Add New Employee Records{% endblock title %}
 
{% block css_file %}

<link rel="stylesheet" href="  {% static 'app.css' %}  ">
{% endblock css_file %}

{% block body %}

{% include 'analyzer_app/includes/navbar.html' %}

<div class = "space">
    
  </div>

<div class="col-md-12">    
    <form method="POST" class="post-form" action="">  
    {% csrf_token %}  
    <div class="container">  
        <div class="col-12">  
        <h3>Enter Record</h3>  
        </div>    
     
        <div class="mb-3"> 
            <label>Date:</label>
            {{ form.date }}    
            {% comment %} <input type="text" name="date">    {% endcomment %}
        </div> 
        <div class="mb-3"> 
            <label>Trade code:</label>
            {{ form.trade_code }} 
            {% comment %} <input type="text" name= "trade_code">    {% endcomment %}
        </div>  
        <div class="mb-3"> 
            <label>High:</label>
            {{ form.high }}   
            {% comment %} <input type="text" name = "high">    {% endcomment %}
        </div> 

        <div class="mb-3"> 
            <label>Low:</label>
            {{ form.low }}   
            {% comment %} <input type="text" name= "low">    {% endcomment %}
        </div> 

        <div class="mb-3"> 
            <label>Open:</label>
            {{ form.open }}   
            {% comment %} <input type="text" name = "open">    {% endcomment %}
        </div> 

        <div class="mb-3"> 
            <label>Close:</label>
            {{ form.close }}   
            {% comment %} <input type="text" name = "close">    {% endcomment %}
        </div> 

        <div class="mb-3"> 
            <label>Volume:</label>
            {{ form.volume }}   
            {% comment %} <input type="text" name = "volume">    {% endcomment %}
        </div> 
        <div class="mb-3"> 
            <button type="submit" class="btn btn-primary">Add</button>    
        </div> 
    </div>  
    </form>  
</div> 
{% endblock body %} 