{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block css_file %}

<link rel="stylesheet" href="  {% static 'app.css' %}  ">
{% endblock css_file %}

{% block scripts %}


{% endblock scripts %}

{% block body %} 




{% include 'analyzer_app/includes/navbar.html' %}

<div class = "space">
    
</div>
<div class="chart-container d-flex justify-content-center">
   <canvas id="chartId" aria-label="chart" heigth="720" width="1080"></canvas>
</div>

<div class= "d-flex justify-content-center">

   <p>Showing last <span id= "numrecords"></span> records</p>

</div>

   
  








<div class="chart-control-container">

   
      <table>
      <thead>
          
          <th>Select Chart Type: </th>
          <th>X-axis:</th>
          <th>Y-axis:</th>
          <th>Show Records:</th>
          <th></th>
          
      </thead>
   
      <tbody>
   
       
      <tr>  
        
          <td> 
         <select id="chartType" name="chartType" class="form-control">
         <option value="line">Line Chart</option>
         <option value="scatter">Scatter Chart</option>
         <option value="bar">Bar Chart</option>
         <option value="pie">pie Chart</option>
         <option value="doughnut">Doughnut Chart</option>
         
        
         </select>
          </td>  
           <td>  
         <select id="X-axis" name="X-axis" class="form-control" >
         <option value="open" >Open</option>
         <option value="date">Date</option>
         <option value="trade_code">Trade code</option>
         <option value="high">High</option> 
         <option value="low" select>Low</option>
         <option value="close">Close</option>
         <option value="volume">Volume</option>
        
          </select>
        </td>  
        <td> 
         <select id="Y-axis" name="Y-axis" class="form-control">
         <option value="close">Close</option>
         <option value="date">Date</option>
         <option value="trade_code">Trade code</option>
         <option value="high">High</option>
         <option value="low">Low</option>
         <option value="open">Open</option>
         <option value="volume">Volume </option>
         
           </select>
        </td>
        <td> 
          <input type="number" name="records" class="form-control" placeholder="Enter number here" min="0">
        </td>
        

        <td>
         <div class="d-flex justify-content-center">
            <button type="submit" id="show" class="btn btn-primary btn-sm btn-block ">Show</button>  
         </div>
      </td>  
        </tr>   
      
      </tbody>
     
   
   
      </table>
   
  
</div>


<script src="{% static 'app.js' %}"></script>

<script>
   // getting all the column data from the backend
   const data = {
      date: [{% for data in date %}'{{ data }}', {% endfor %}],
      trade_code: [{% for data in trade_code %}'{{ data }}', {% endfor %}],
      high: [{% for data in high %}'{{ data }}', {% endfor %}],
      low: [{% for data in low %}'{{ data }}', {% endfor %}],
      open: [{% for data in open %}'{{ data }}', {% endfor %}],
      volume: [{% for data in volume %}'{{ data }}', {% endfor %}],
      close: [{% for data in close %}'{{ data }}', {% endfor %}],
   };

   // Default chart settings
   const defaultChartConfig = {
      type: 'line',
      data: {
         labels: data.open.slice(0, {{records}}),
         datasets: [{
            label: "Open vs Close (line chart)",
            data: data.close.slice(0, {{records}}),
            backgroundColor: ['yellow', 'aqua', 'pink', 'lightgreen', 'lightblue', 'gold'],
            borderColor: ['black'],
            borderWidth: 2,
            pointRadius: 5,
         }],
      },
      options: {
         responsive: true,
      },
   };

   // Function to create and render a chart
   function createChart(chartType, xAxis, yAxis, numRecords) {
      // setting number of record to show if user did not give any input
      if(isNaN(numRecords)){
         numRecords = {{records}};
      }
      const numRecordsSpan = document.getElementById("numrecords");
      numRecordsSpan.textContent = numRecords;
      // Creating a new chart
      return new Chart(chrt, {
         type: chartType,
         data: {
            labels: data[xAxis].slice(0, numRecords),
            datasets: [{
               label: xAxis+" vs "+ yAxis+" ("+chartType+")",
               data: data[yAxis].slice(0, numRecords),
               backgroundColor: ['yellow', 'aqua', 'pink', 'lightgreen', 'lightblue', 'gold'],
               borderColor: ['black'],
               borderWidth: 2,
               pointRadius: 5,
            }],
         },
         options: {
            responsive: true,
         },
      });
   }

   // Getting references of html elements
   const chartTypeSelect = document.getElementById("chartType");
   const xAxisSelect = document.getElementById("X-axis");
   const yAxisSelect = document.getElementById("Y-axis");
   const recordsInput = document.querySelector("input[name='records']");
   const showButton = document.getElementById("show");

   // Getting the canvas context
   const chrt = document.getElementById("chartId").getContext("2d");
   
   // Initializing the default chart
   let chartInstance = createChart(defaultChartConfig.type, 'open', 'close', 100);
   

   // Event listener for the "Show" button
   showButton.addEventListener("click", function (event) {
      event.preventDefault();

      const selectedChartType = chartTypeSelect.value;
      const selectedXAxis = xAxisSelect.value;
      const selectedYAxis = yAxisSelect.value;
      const selectedRecords = parseInt(recordsInput.value);
      
      // It Destroy the previous chart instance
      if (chartInstance) {
         chartInstance.destroy();
      }
      
      // Create and render a new chart if show button is clicked
      chartInstance = createChart(selectedChartType, selectedXAxis, selectedYAxis, selectedRecords);
   });
</script>




<hr>


<div class="data-table-container">


   <div class="col-md-12">
      <span class="add-btn d-flex justify-content-end"><a href="{% url 'addnew' %}" class="btn btn-primary">Add New Record</a></span>  
      <div class="table-responsive">
      <table id="bootstrapdatatable" class="table table-striped table-bordered table-hover" width="100%">
      <thead >
          
          <th>Date</th>
          <th>Trade code</th>
          <th>High</th>
          <th>Low</th>
          <th>Open</th>
          <th>Close</th>
          <th>Volume</th>
          <th>Edit</th>
          <th>Delete</th>
      </thead>
      <tbody>
   
  
     
      {% for data in market_data %}
       
      <tr>  
        
        <td>{{ data.date }}</td>  
        <td>{{ data.trade_code }}</td>  
        <td>{{ data.high }}</td>  
        <td>{{ data.low }}</td>
        <td>{{ data.open }}</td>
        <td>{{ data.close }}</td>
        <td>{{ data.volume }}</td>  
        <td><a href="/edit/{{ data.id }}" class="btn btn-primary">Edit</a></td>
        <td><a href="/delete/{{ data.id }}" class="btn btn-danger">Delete</a></td>  
        </tr>   
       
  
      {% endfor %}
  
     
  
  
      </table>
  
     
  
    
      
  </div>
  


</div>










{% endblock body %}